<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <title>@ViewData["Title"] - StockDemo</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StockDemo.styles.css" asp-append-version="true" />
</head>
<body>
    <main>
        <div class="mt-2"
            @await Component.InvokeAsync("HeroBoard")
        </div>
        <div class="mt-20">
            @await Component.InvokeAsync("Navbar")
        </div>
        @RenderBody()  
    </main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
